.card {
  position: relative;
}

.card img {
  width: 100%;
  display: block;
  border: 2px solid white;
  border-radius: 6px;
}

/* Front of the card the picture */
.card .front {
  position: absolute;
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
}

.flipped .front {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}

.card .back {
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
}

.flipped .back {
  transform: rotateY(90deg);
  transition-delay: 0.2s;
}
